<div>
  <div class="relative w-[282px] h-[399px] overflow-hidden" [class.group]="true">
    <img [src]="product.image.src" [alt]="product.image.alt" class="w-full h-full" />
    <div *ngIf="product.bestseller" class="absolute top-0 left-0 bg-white w-32 h-8 text-xl leading-5 px-2 py-1 flex items-center justify-center">
      Best Seller
    </div>
    <button (click)="onAddToCart()" class="absolute bottom-0 left-0 right-0 flex items-center justify-center bg-black h-[46px] opacity-0 transition-opacity duration-300 group-hover:opacity-100 pointer-events-auto">
      <span class="font-medium text-[23px] leading-6 text-white uppercase tracking-wide">
        Add to cart
      </span>
    </button>    
  </div>
  <p class="text-[#656565] text-[22px] font-bold leading-6 mt-3">{{ product.category }}</p>
  <p class="text-[34px] font-bold leading-9 mt-2 mb-3">{{ product.name }}</p>
  <p class="text-[#656565] text-[29px] font-normal leading-8">{{ product.price }} {{ product.currency }}</p>
</div>
