<div class="flex flex-col items-start mx-[15px]">
  <div class="relative w-[117px] h-[147px] mb-3 overflow-hidden" [class.group]="true">
    <img [src]="product.image.src" [alt]="product.image.alt" class="w-full h-full" />
    <div *ngIf="product.bestseller" class="absolute top-0 left-0 bg-white w-20 h-8 text-sm leading-5 px-1 flex items-center justify-center">
      Best Seller
    </div>
    <div class="absolute bottom-0 left-0 right-0 flex items-center justify-center bg-black h-[20px] opacity-0 transition-opacity duration-300 group-hover:opacity-100 pointer-events-none">
      <span class="font-medium text-[8px] leading-6 text-white uppercase tracking-wide">Add to cart</span>
    </div>
  </div>
  <p class="text-[#656565] text-[13px] font-bold leading-3 mb-1">{{ product.category }}</p>
  <p class="text-[16px] font-bold leading-4 mb-1">{{ product.name }}</p>
  <p class="text-[#656565] text-[13px] font-normal leading-4">{{ product.price }} {{ product.currency }}</p>
</div>
