<section class="max-w-7xl mx-auto lg:mb-20 mb-8">
  <div class="flex flex-col">
    <app-featured-product-card *ngIf="featuredProd" [featuredProd]="featuredProd"></app-featured-product-card>
  </div>
  <p class="border-b-4 border-[#E4E4E4] lg:mt-10 mt-6"></p>
  <div class="flex justify-between lg:mt-[68px] mt-12">
    <p class="font-bold lg:text-3xl sm:text-xl text-lg">Photography / <span class="text-[#9B9B9B] lg:text-3xl sm:text-xl text-lg font-normal">Premium Photos</span></p>
    <div class="hidden sm:flex space-x-2 items-baseline">
      <span class="lg:text-[22px] text-lg font-normal">Sort By</span>
      <div class="flex space-x-1 items-center cursor-pointer" (click)="toggleSortByPrice()">
        <span class="lg:text-[22px] text-lg font-normal">Price</span>
        <svg [class.rotate-180]="!isAsc" viewBox="0 0 20 13" fill="none" class="w-[10px] h-[10px] lg:w-[20px] lg:h-[13px]">
          <path d="M2 2L10 10L18 2" stroke="black" stroke-width="3"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="flex justify-between lg:mt-14 mt-8">
    <div class="hidden sm:flex sm:flex-col">
      <span class="lg:text-[22px] text-lg font-bold lg:mb-4">Category</span>
      <ul class="lg:mt-10 mt-6 text-[#1D1D1D] font-normal leading-6 lg:space-y-5 space-y-2">
        <li *ngFor="let category of categories">
          <mat-checkbox (change)="toggleCategory(category)">{{ category }}</mat-checkbox>
        </li>
      </ul>
    </div>
    <div class="flex flex-col">
      <div class="sm:grid sm:grid-cols-3 flex flex-col lg:gap-10 gap-8">
        <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
      </div>
      <div class="flex items-center justify-center lg:space-x-4 space-x-2 lg:mt-12 mt-4">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          <svg class="lg:w-[13px] lg:h-[20px] w-[7px] h-[10px]" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 2L3 10L11 18" stroke="black" stroke-width="3"/>
          </svg>
        </button>
        <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
          <span [ngClass]="{'font-semibold': currentPage === i + 1, 'text-[#B4B4B4]': currentPage !== i + 1}" class="lg:text-[29px] text-lg leading-8">
            {{ i + 1 }}
          </span>
          <span *ngIf="i < totalPages - 1"> </span>
        </ng-container>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          <svg class="lg:w-[13px] lg:h-[20px] w-[7px] h-[10px]" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 2L11 10L3 18" stroke="black" stroke-width="3"/>
          </svg>  
        </button>
      </div>
    </div>
  </div>
</section>