<section class="max-w-7xl mx-auto">
    <div class="flex flex-col">
        <div *ngIf="featuredProd" class="flex justify-between items-start mb-8">
            <p class="font-bold text-[32px] leading-8">{{ featuredProd.name }}</p>
            <button class="font-medium text-[23px] leading-6 bg-black text-white uppercase w-[257px] h-[47px] tracking-wide">
                Add to cart
            </button>
        </div>
        <div class="relative mb-8">
            <img [src]="featuredProd?.image?.src" [alt]="featuredProd?.image?.alt" class="max-w-[1290px] max-h-[553px]" />
            <div class="absolute bottom-0 left-0 bg-white w-[272px] h-[67px] flex items-center justify-center">
                <span class="font-bold text-xl leading-5">Photo of the day</span>
            </div>            
        </div>
        <div class="flex mb-8 justify-between items-start">
            <div class="flex flex-col">
                <p class="font-bold text-[22px] leading-6 mb-2">About the {{ featuredProd?.name }}</p>
                <p class="font-bold text-[22px] text-[#656565] leading-6 mb-3">{{ featuredProd?.category }}</p>
                <p class="font-normal text-lg text-[#656565] leading-[27px] max-w-[690px] max-h-[299px]">{{ featuredProd?.description }}</p>
            </div>
            <div class="flex flex-col items-end">
                <p class="font-bold text-[22px] leading-6 mb-[27px] text-right">People also buy</p>
                <div class="flex flex-row justify-end">
                    <div *ngFor="let product of featuredProd?.people_also_buy" class="flex flex-col items-start mx-[15px]">
                        <img [src]="product.image.src" [alt]="product.image.alt" class="w-[117px] h-[147px] mb-3" />
                        <p class="text-[#656565] text-[13px] font-bold leading-3 mb-1">{{ product.category }}</p>
                        <p class="text-[16px] font-bold leading-4 mb-1">{{ product.name }}</p>
                        <p class="text-[#656565] text-[13px] font-normal leading-4">{{ product.price }} {{ product.currency }}</p>
                    </div>
                </div>
            </div>                       
        </div>
    </div>
    <p class="border-b-4 border-[#E4E4E4] mt-10"></p>
    <div class="flex justify-between mt-[68px]">
        <p class="font-bold text-3xl">Photography / <span class="text-[#9B9B9B] text-3xl font-normal">Premium Photos</span></p>
        <div class="flex space-x-2 items-baseline">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_122_12)">
            <path d="M3.64807 14.3734V1.5347L5.90435 3.79098C5.97793 3.86456 6.07296 3.90134 6.17106 3.90134C6.26916 3.90134 6.36419 3.86456 6.43777 3.79098C6.58492 3.64383 6.58492 3.40778 6.43777 3.26063L3.54077 0.363637C3.39976 0.222619 3.15144 0.222619 3.01042 0.363637L0.110362 3.26063C-0.0367873 3.40778 -0.0367873 3.64383 0.110362 3.79098C0.257511 3.93813 0.493562 3.93813 0.640711 3.79098L2.897 1.5347V14.3734C2.897 14.5819 3.0656 14.7505 3.27407 14.7505C3.47946 14.7474 3.64807 14.5788 3.64807 14.3734Z" fill="black"/>
            <path d="M11.4592 14.6367C11.5328 14.7103 11.6278 14.7471 11.7259 14.7471C11.824 14.7471 11.919 14.7103 11.9926 14.6367L14.8896 11.7397C15.0368 11.5926 15.0368 11.3565 14.8896 11.2094C14.7425 11.0622 14.5064 11.0622 14.3593 11.2094L12.103 13.4657V0.626917C12.103 0.418456 11.9344 0.249847 11.7259 0.249847C11.5174 0.249847 11.3488 0.418456 11.3488 0.626917V13.4657L9.09561 11.2094C8.94846 11.0622 8.71241 11.0622 8.56526 11.2094C8.41811 11.3565 8.41811 11.5926 8.56526 11.7397L11.4592 14.6367Z" fill="black"/>
            </g>
            <defs>
            <clipPath id="clip0_122_12">
            <rect width="15" height="15" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            <span class="text-[#9B9B9B] text-[22px] font-normal">Sort By</span>
            <span class="text-[22px] font-normal">Price</span>
            <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2L10 10L18 2" stroke="black" stroke-width="3"/>
            </svg>
        </div>
    </div>
    <div class="flex justify-between mt-14">
        <div class="flex flex-col">
            <span class="text-[22px] font-bold mb-4">Category</span>
            <ul class="mt-10 text-[22px] text-[#1D1D1D] font-normal leading-6 space-y-6">
                <li><mat-checkbox>People</mat-checkbox></li>
                <li><mat-checkbox>Premium</mat-checkbox></li>
                <li><mat-checkbox>Pets</mat-checkbox></li>
                <li><mat-checkbox>Food</mat-checkbox></li>
                <li><mat-checkbox>Landmarks</mat-checkbox></li>
                <li><mat-checkbox>Cities</mat-checkbox></li>
                <li><mat-checkbox>Nature</mat-checkbox></li>
            </ul>
        </div>
        <div class="grid grid-cols-3 gap-x-[48px] gap-y-24 max-w-[975px]">
            <div *ngFor="let product of products">
                <img [src]="product.image.src" [alt]="product.image.alt" class="w-[282px] h-[399px] mb-2" />
                <p class="text-[#656565] text-[22px] font-bold leading-6">{{ product.category }}</p>
                <p class="text-[34px] font-bold leading-9 mt-2 mb-3">{{ product.name }}</p>
                <p class="text-[#656565] text-[29px] font-normal leading-8">{{ product.price }} {{ product.currency }}</p>
            </div>
        </div>
    </div>
</section>